<div class="auth-container">
  <form class="auth-form">
    <h3>Login</h3>
    <mat-form-field>
      <input id="username-field" matInput placeholder="Enter your username" [formControl]="username" required>
      <mat-error *ngIf="username.invalid">
        {{getUsernameErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input id="password-field" matInput mapNativeControl [formControl]="password" required type="password" placeholder="Enter password...">
      <mat-error *ngIf="password.invalid">
        {{getPasswordErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <span class="login-error" *ngIf="errorMessage">Wrong username/password combination</span>
    <button id="submit-btn" mat-button (click)="submitLogin()">Login</button>
  </form>
</div>
