<div class="auth-container">
  <form class="auth-form">
    <h3>Register</h3>
    <mat-form-field>
      <input matInput placeholder="Enter your email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">
        {{getEmailErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your username" [formControl]="username" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your first name" [formControl]="firstName" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your last name" [formControl]="lastName" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your middle name" [formControl]="middleName">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Enter your age" [formControl]="age">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Choose your status</mat-label>
      <mat-select [(value)]="status">
        <mat-option *ngFor="let status of STATUSES" [value]="status">
          {{ status }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput mapNativeControl [formControl]="password" required type="password" placeholder="Enter password...">
      <mat-error *ngIf="password.invalid">
        {{getPasswordErrorMessage()}}
      </mat-error>
    </mat-form-field>

    <button mat-button (click)="submitRegister()">Register</button>
  </form>
</div>
