<div
  id="admin-panel"
  class="fill-parent"
>
  <nav mat-tab-nav-bar id="tabs">
    <a mat-tab-link
      *ngFor="let route of routes; let index"
      [routerLink]="route.path"
      (click)="activeRoute = route"
      [active]="activeRoute == route"
    >
      <strong class="tab-header-text">{{ route.label }}</strong>
    </a>
  </nav>
  <div id="page-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
