::ng-deep .mat-ink-bar {
  background-color: #607d8b !important;
}

.tab-header-text {
  color: #607d8b !important;
}

#admin-panel {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

#tabs {
  background-color: #cfd8dc;
}

#page-wrapper {
  flex-grow: 1;
  height: 80%;
}
