<div>
  <section id="type-section">
      <button
        *ngFor="let type of selectedTypes()"
        mat-button
        class="type-btn"
        [ngClass]="{'type-btn--selected': type == selectedType}"
        (click)="selectedType = type"
      >
        <strong>{{ type }}</strong>
      </button>
  </section>
  <mat-divider class="section-divider"></mat-divider>
  <section id="line-section">
    <div
      *ngIf="lineSet"
      id="line-section-container"
    >
      <!-- <section id="line-section-line-names"> -->
        <mat-icon
          *ngIf="hasPreviousLineSet; else disabledPreviousBtn"
          matRipple
          class="line-btn"
          (click)="previousLineSet()"
        >chevron_left</mat-icon>
        <ng-template #disabledPreviousBtn>
          <mat-icon
            class="line-btn--disabled"
          >chevron_left</mat-icon>
        </ng-template>
        <div style="display: flex; align-items: center;">
          <div
            *ngIf="longestNameLength < 4"
            class="line-outer"
            style="margin-right: 5px"
            (click)="hasPreviousLineSet ? previousLineSet() : null"
          >
            <strong>{{ lineSet[0] ? lineSet[0].name : '' }}</strong>
          </div>
          <div class="line-inner">
            <strong>{{ lineSet[1].name }}</strong>
          </div>
          <div
            *ngIf="longestNameLength < 4"
            class="line-outer"
            style="margin-left: 5px"
            (click)="hasNextLineSet ? nextLineSet() : null"
          >
            <strong>{{ lineSet[2] ? lineSet[2].name : '' }}</strong>
          </div>
        </div>
        <mat-icon
          *ngIf="hasNextLineSet; else disabledNextBtn"
          matRipple
          class="line-btn"
          (click)="nextLineSet()"
        >chevron_right</mat-icon>
        <ng-template #disabledNextBtn>
          <mat-icon
            class="line-btn--disabled"
          >chevron_right</mat-icon>
        </ng-template>
      <!-- </section> -->
      <!-- <section id="line-section-controls">
          <mat-icon
            *ngIf="hasPreviousLineSet; else disabledPreviousBtn"
            matRipple
            class="line-btn"
            style="transform: rotate(-90deg);"
            (click)="previousLineSet()"
          >chevron_right</mat-icon>
        <ng-template #disabledPreviousBtn>
            <mat-icon
              class="line-btn--disabled"
              style="transform: rotate(-90deg);"
            >chevron_right</mat-icon>
          </ng-template>
        <mat-icon
          *ngIf="hasNextLineSet; else disabledNextBtn"
          matRipple
          class="line-btn"
          style="transform: rotate(90deg);"
          (click)="nextLineSet()"
        >chevron_right</mat-icon>
        <ng-template #disabledNextBtn>
          <mat-icon
            class="line-btn--disabled"
            style="transform: rotate(90deg);"
          >chevron_right</mat-icon>
        </ng-template>
      </section> -->
    </div>
  </section>

  <section id="schedule-section">
    <button mat-button [matMenuTriggerFor]="menu">Days</button>
    <mat-menu #menu="matMenu">
      <button
      mat-menu-item
      (click) = "dayChosen(day)"
      *ngFor="let day of days">{{day}}</button>
    </mat-menu>
    <p>{{selectedDay}}</p>
  </section>



  <section style="overflow: auto;">
    <div>
      <table mat-table [dataSource]="dataSource" class="example-container">
        <ng-container matColumnDef="key">
          <th mat-header-cell *matHeaderCellDef> Hour </th>
          <td mat-cell *matCellDef="let element">
            {{element.key}}
          </td>
        </ng-container>

        <ng-container matColumnDef="routeA">
          <th mat-header-cell *matHeaderCellDef> A </th>
          <td mat-cell *matCellDef="let element">
            {{element.routeA}}
          </td>
        </ng-container>

        <ng-container matColumnDef="routeB">
          <th mat-header-cell *matHeaderCellDef> B </th>
          <td mat-cell *matCellDef="let element">
            {{element.routeB}}
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </section>
</div>
