.type-btn {
  color: #37474f;
  opacity: 0.5;
}

.type-btn--selected {
  color: #37474f;
  opacity: 1;
}

.section-divider {
  margin: 0px 20px;
  color: #546E7A;
  border-top-color: #546E7A;
}

.line-btn,
.line-btn--disabled {
  width: 20px;
  height: 20px;
  font-size: 20px;
  opacity: 0.8;
  background-color: #ff8f00;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px 0px;
  user-select: none;
}

.line-btn--disabled {
  background-color: grey;
}

.line-outer {
  min-width: 30px;
  min-height: 1.5em;
  text-align: center;
  font-size: 1.2em;
  opacity: 0.6;
  cursor: pointer;
  user-select: none;
}

.line-inner {
  min-width: 70px;
  text-align: center;
  font-size: 3em;
  cursor: pointer;
  user-select: none;
}


#type-section {
  padding-top: 15px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

#line-section {
  padding: 0px 10px;
  display: flex;
  justify-content: center;
}

#line-section-line-names {
  flex-grow: 1;
  height: 8em;
}

#line-section-controls {
  min-width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* #line-section-container {
  padding: 15px 10px;
  width: 100%;

  display: flex;
  flex-direction: row;
} */

#line-section-container {
  padding: 15px 12px;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.example-container {
  height: 400px;
  overflow: scroll;
}

table {
  width: 100%;
}
