<html>
  <div>
    <h1>Tickets</h1>

    <div class="cards-div">

      <span>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>Buy ticket online</mat-card-title>
            <mat-card-subtitle>Buy any type of ticket right now!</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions (click)="onBuyOnlineButtonClick()">
              <button mat-stroked-button color="primary">Buy!</button>
          </mat-card-actions>
        </mat-card>
      </span>

      <span>
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>My tickets</mat-card-title>
            <mat-card-subtitle>See tickets you purchased!</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions (click)="onSeeTicketsButtonClick()">
              <button mat-stroked-button color="primary">Go!</button>
          </mat-card-actions>
        </mat-card>
      </span>
    </div>
  </div>
</html>