html {
  font-family: sans-serif;
}

.card {
  max-width: 300px;
}

.card:hover {
  border: 1px solid skyblue;
}

div {
  width: 1000px;
  margin: 0 auto;
}

span {
  float: left;
  margin-right: 20px;
}

