::ng-deep div.leaflet-routing-container {
  display: none;
}

::ng-deep div.leaflet-div-icon {
  background: none;
  border: 0;
}

.side-panel,
.side-panel--inverted {
  height: inherit;
  width: 25%;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
  background-color: #fafafa;

  position: relative;

  display: flex;
  flex-direction: row;
}

.side-panel-card {
  padding: 0;
  border-radius: 0px;
}

.custom-red {
  /* background-color: #D32F2F; */
  background-color: #C62828;
}

.white-text {
  /* color: #EEEEEE !important; */
  color: #00897B !important;
}

.fill {
  height: 100%;
  width: 100%;
}

.trans-section {
  color: #EEEEEE;
  box-shadow: none;
}

.trans-section > * {
  color: #EEEEEE !important;
}

.decorator-line {
  min-width: 8px;
  max-width: 8px;
  height: 100%;
  /* background-color: #006779; */
  background-color: #37474f;
  z-index: 901;
}

.decorator-line-orange {
  min-width: 4px;
  max-width: 4px;
  height: 100%;
  /* background-color: #006779; */
  background-color: #ff8f00;
  z-index: 900;
}

.decorator-line-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8px;
  background-color: #37474f;
  z-index: 901;
}

.decorator-line-bottom-orange {
  width: 100%;
  height: 4px;
  background-color: #ff8f00;
  z-index: 900;

  position: absolute;
}

#home-page {
  background-color: #616161;

  display: flex;
  flex-direction: row;
  height: 100%;
}

#central-view {
  width: 80%;
  background-color: #EEEEEE;
  position: relative;
}

#map-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 400;
  box-shadow: inset 0 0 100px #000000a4;
  pointer-events: none;
}


