<div id="home-page">
  <aside
    id="line-picker-panel"
    class="side-panel"
  >
    <div
      class="decorator-line-bottom-orange"
      style="top: 0;"
    ></div>
      <!-- LINE PICKER -->
    <div class="decorator-line"></div>
    <div class="decorator-line-orange"></div>
    <div style="flex-grow: 1">
      <app-line-picker
        *ngFor="let type of types"
        [title]="type"
        [lines]="getLines(type)"
        (select)="onSelect($event)"
        (deselect)="onDeselect($event)"
      ></app-line-picker>
    </div>
    <div
      class="decorator-line-bottom-orange"
      style="bottom: 0;"
    ></div>
  </aside>
  <div id="central-view">
    <!-- MAP -->
    <div
      id="map"
      leaflet
      [leafletOptions]="leafletOptions"
      (leafletMapReady)="onMapReady($event)"
      style="height: 100%; width: 100%;"
    ></div>
    <div id="map-overlay"></div>
  </div>
  <aside
    id="schedule-panel"
    class="side-panel--inverted"
  >
    <div
      class="decorator-line-bottom-orange"
      style="top: 0;"
    ></div>
    <!--  SCHEDULE -->
    <app-schedule
      [lines]="getSelectedLines()"
      (lineFocused)="onLineFocused($event)"
      [schedules]="lineSchedules"
      style="flex-grow: 1"
    ></app-schedule>
    <div class="decorator-line-orange"></div>
    <div class="decorator-line"></div>

    <div
      class="decorator-line-bottom-orange"
      style="bottom: 0;"
    ></div>
  </aside>
</div>
