<div id="admin-page">
  <aside
    id="form-panel"
    class="mat-elevation-z4"
  >
    <div id="form-wrapper">
      <div id="form">
        <mat-form-field>
          <mat-label>Customer status</mat-label>
          <mat-select [(value)]="status" id="customerStatusSelect" [formControl]="customerStatus">
            <mat-option *ngFor="let status of STATUSES" [value]="status.value">
              {{ status.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Ticket duration</mat-label>
          <mat-select [(value)]="duration" id="ticketDurationSelect"  [formControl]="ticketDuration">
            <mat-option *ngFor="let duration of DURATIONS" [value]="duration.value">
              {{ duration.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Zone</mat-label>
          <mat-select [(value)]="zone" id="zoneSelect"  [formControl]="ticketZone">
            <mat-option *ngFor="let zone of zones" [value]="zone.id">
              {{ zone.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="form-field">
          <mat-label>Enter price</mat-label>
          <input
            id="priceInput"
            matInput
            placeholder="Price"
            [formControl]="price"
            required
          >
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerStartDate"
            placeholder="Start date"
            [min]="minStartDate"
            id="startDateInput"
            [formControl]="startDate">
          <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerStartDate></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            [matDatepicker]="pickerEndDate"
            placeholder="End date"
            [min]="minEndDate"
            id="endDateInput"
            [formControl]="endDate">
          <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
          <mat-datepicker #pickerEndDate></mat-datepicker>
        </mat-form-field>
      </div>

      <section id="form-controls">
        <button
          id="saveBtn"
          mat-stroked-button
          class="form-control-btn"
          (click)="save()"
        >Save</button>
        <button
          mat-stroked-button
          class="form-control-btn"
          (click)="clear()"
        >Clear</button>
      </section>
    </div>
  </aside>
  <div id="table-view">
    <div id="table-scroll-space">
      <table
        mat-table
        matSort
        id="table"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="customerStatus">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Customer status</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{ element.customerStatus }}</td>
        </ng-container>
        <ng-container matColumnDef="ticketDuration">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Duration</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{ element.ticketDuration }}</td>
        </ng-container>
        <ng-container matColumnDef="zone">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Zone</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{ element.zone.name }}</td>
        </ng-container>
        <ng-container matColumnDef="validFrom">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Valid from</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{ element.validityPeriod.startDate }}</td>
        </ng-container>
        <ng-container matColumnDef="validTo">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Valid to</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{ element.validityPeriod.endDate }}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Price</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{ element.value }}</td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="width: 70px;"
            >
              <div style="display: flex; align-items: center;">
                <mat-icon
                  *ngIf="selection.hasValue()"
                  mat-flat-button
                  id="table-selection-clear-btn"
                  (click)="selection.clear()"
                >clear</mat-icon>
              </div>
            </th>
            <td
              mat-cell
              *matCellDef="let row"
              style="width: 70px;"
            >
              <mat-checkbox
                [checked]="selection.isSelected(row)"
                (click)="$event.stopPropagation()"
                (change)="$event ? selection.toggle(row) : null">
              </mat-checkbox>
            </td>
          </ng-container>

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let element; let row; columns: displayedColumns;"
          (click)="select(element)"
        ></tr>
      </table>
      <button
        id="use-ticket-btn"
        mat-stroked-button
        [disabled]="!selection.hasValue()"
        (click)="openDialog()"
      >Delete selected</button>
    </div>
    <div id="table-footer">
      <div style="display: flex; flex-direction: row; flex-grow: 1; align-items: center; padding-left: 20px;">
        <mat-form-field id="table-filter-input">
          <input
            matInput
            placeholder="Filter"
            (keyup)="applyFilter($event.target.value)"
          >
        </mat-form-field>
      </div>
      <mat-paginator
        id="table-paginator"
        [pageSizeOptions]="[5, 10, 50, 100]"
        style="background-color: #f8f8f8"
      ></mat-paginator>
    </div>
  </div>
</div>
