<div id="admin-page">
  <cdk-virtual-scroll-viewport
  itemSize="50"
    id="form-panel"
    class="mat-elevation-z4"
  >
    <div id="form-wrapper">
      <div id="form">

        <!-- FORM FIELDS GO HERE -->

        <mat-form-field>
          <input matInput [matDatepicker]="startDatePicker" placeholder="Choose a start date" [(ngModel)] = "newSchedule.startDate">
          <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #startDatePicker (selectedChanged)="onStartDate($event)"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="endDatePicker" placeholder="Choose an end date" [(ngModel)] = "newSchedule.endDate">
          <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
          <mat-datepicker #endDatePicker (selectedChanged)="onEndDate($event)"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-select
            placeholder="Line"
            [formControl]="lineControl"
            [(value)]="newSchedule.line"
            required
          >
            <mat-option *ngFor="let line of lines" [value]="line.id">
              {{ line.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button
          mat-flat-button
          class="form-control-btn"
          (click) = "addRouteAInput()"
        >Add A</button>
        <mat-form-field *ngFor="let time of routeATimes; index as i;">
          <input
           matInput
           [ngxTimepicker]="picker"
           [format]="24"
           readonly placeholder="click to add time"
           [(value)]= "routeATimes[i]"
           >
          <ngx-material-timepicker
            #picker
            (timeSet)="onSelectA($event, i)"
          ></ngx-material-timepicker>
        </mat-form-field>

        <button
          mat-flat-button
          class="form-control-btn"
          (click) = "addRouteBInput()"
        >Add B</button>
        <mat-form-field *ngFor="let time of routeBTimes; index as i;">
          <input
           matInput
           [ngxTimepicker]="picker"
           [format]="24"
           readonly placeholder="click to add time"
           [(value)]= "routeBTimes[i]"
           >
          <ngx-material-timepicker
            #picker
            (timeSet)="onSelectB($event, i)"
          ></ngx-material-timepicker>
        </mat-form-field>
      <mat-selection-list #weekDays>
          <mat-list-option *ngFor="let day of days; index as i;" [value]='i'>
            {{day}}
          </mat-list-option>
        </mat-selection-list>
      </div>

      <section id="form-controls">
        <button
          mat-flat-button
          class="form-control-btn"
          (click)="clear()"
        >Clear</button>
        <button
          mat-flat-button
          class="form-control-btn"
          (click)="save()"
        >Save</button>
      </section>
    </div>
  </cdk-virtual-scroll-viewport>
  <div id="table-view">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let line of lines; index as i;">
        <mat-expansion-panel-header (click)="resetDataSource()">
          <mat-panel-title>
            {{line.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <section id="schedule-section">
          <button mat-button [matMenuTriggerFor]="menu" (click)="getLineDays(line)">Choose day</button>
          <mat-menu #menu="matMenu">
            <button
            mat-menu-item
            (click) = "dayChosen(day)"
            *ngFor="let day of daysForMenu">{{day}}</button>
          </mat-menu>
        </section>
        <button *ngIf="dataSource!==null"
          mat-flat-button
          class="form-control-btn"
          (click)="removeSchedule()"
        >Delete</button>
        <section>
            <div>
              <p *ngIf="scheduleDisplayed">{{scheduleDisplayed.id}}</p>
              <table *ngIf="dataSource" mat-table [dataSource]="dataSource" class="example-container">
                <ng-container matColumnDef="key">
                  <th mat-header-cell *matHeaderCellDef> Hour </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.key}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="routeA">
                  <th mat-header-cell *matHeaderCellDef> A </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.routeA}}
                  </td>
                </ng-container>

                <ng-container matColumnDef="routeB">
                  <th mat-header-cell *matHeaderCellDef> B </th>
                  <td mat-cell *matCellDef="let element">
                    {{element.routeB}}
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </section>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
