::ng-deep span.mat-content {
  display: flex;
  align-items: center;
}

.no-margin {
  margin: 0;
}

.custom-text-color {
  /* color: #607d8b !important; */
  /* color: #546E7A; */
  color: #37474f;
}

.element-btn {
  height: 1.5em;
  /* width: 2.5em; */
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px !important;
  margin: 2px;
  /* background-color: #CFD8DC; */
  /* background-color: #C62828; */
  background: rgba(0,0,0,.0);
  /* color: #263238; */
  border: 0px;
  border-radius: 0 !important;
  outline : none;
  -moz-outline : none;
}

.element-btn:hover {
  background-color: #bdbdbd;
}

.element-btn--active {
  background-color: #ff8f00;
  /* background-color: #076879; */
  color: #EEEEEE;
  /* color: rgb(44, 44, 44); */
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.element-btn--active:hover {
  /* background-color: #009688; */
  background-color: #ffb24d;
}

.header__indicator {
  transform: rotate(90deg);
}

.header__indicator--opened {
  transform: rotate(-90deg);
}

.header__indicator,
.header__indicator--opened {
  width: 20px;
  height: 20px;
  font-size: 20px;
  opacity: 0.8;
  background-color: #ff8f00;
  border-radius: 50%;
}

.header {
  padding-right: 20px;
}

.header__title {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-items: center;
}

.section-divider {
  /* margin: 0px 10px; */
  margin-bottom: 25px;
  color: #546E7A;
  border-top-color: #546E7A;
  /* opacity: 0.8; */
}

#container {
  width: 100%;
  border: 0px;
  border-radius: 0;
  box-shadow: none;
  /* background-color: #C62828; */
  background: rgba(0,0,0,.0);
  margin-top: 30px;
}

#elements-grid {
  display: flex;
  flex-wrap: wrap;
}