<mat-expansion-panel
  id="container"
  hideToggle
  expanded
  (opened)="collapsed = false"
  (closed)="collapsed = true"
>
  <mat-expansion-panel-header class="header">
    <mat-panel-title class="header__title no-margin custom-text-color">
      <strong class="mat-title" style="margin:0;">{{ title }}</strong>
    </mat-panel-title>
    <mat-icon
      matRipple
      class="header__indicator no-margin custom-text-color"
      [ngClass]="{'header__indicator--opened': !collapsed}"
    >chevron_right</mat-icon>
  </mat-expansion-panel-header>
  <mat-divider class="section-divider"></mat-divider>
  <section>
    <div id="elements-grid">
      <button
        *ngFor="let element of elements"
        class="element-btn custom-text-color"
        type="button"
        [ngClass]="{'element-btn--active': element.active}"
        (click)="onClick(element)"
      >
        <strong>{{ element.line.name }}</strong>
      </button>
    </div>
  </section>
</mat-expansion-panel>