<div id="admin-page">
  <aside
    id="form-panel"
    class="mat-elevation-z4"
  >
    <div id="form-wrapper">
      <div id="form">

        <!-- FORM FIELDS GO HERE -->

        <mat-form-field class="form-field">
          <input
            id="name-field"
            matInput
            placeholder="Zone name"
            [formControl]="name"
            required
          >
          <mat-hint align="start">Has to be unique</mat-hint>
          <mat-error *ngIf="name.invalid">{{ name.errors.unique }}</mat-error>
        </mat-form-field>

        <!--  -->

      </div>
      <section id="form-controls">
        <button
          id="clear-btn"
          mat-flat-button
          class="form-control-btn"
          (click)="clear()"
        >Clear</button>
        <button
          id="save-btn"
          mat-flat-button
          class="form-control-btn"
          [disabled]="!name.valid"
          (click)="save()"
        >Save</button>
      </section>
    </div>
  </aside>
  <div id="table-view">
    <div id="table-scroll-space">
      <table
        mat-table
        matSort
        id="table"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="select">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="width: 70px;"
          >
            <div style="display: flex; align-items: center;">
              <mat-icon
                *ngIf="selection.hasValue()"
                mat-flat-button
                id="table-selection-clear-btn"
                (click)="selection.clear()"
              >clear</mat-icon>
            </div>
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            style="width: 70px;"
          >
            <mat-checkbox
              [checked]="selection.isSelected(row)"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null">
            </mat-checkbox>
          </td>
        </ng-container>

        <!--  TABLE COLUMS -->

        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >ID</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Name</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{element.name}}</td>
        </ng-container>

        <!--  -->

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let element; let row; columns: displayedColumns;"
          (click)="select(element)"
        ></tr>
      </table>
    </div>
    <div id="table-footer">
      <div style="display: flex; flex-direction: row; flex-grow: 1; align-items: center; padding-left: 20px;">
        <div>
          <button
            id="delete-btn"
            mat-flat-button
            class="form-control-btn"
            [disabled]="!selection.hasValue()"
            (click)="delete()"
            style="background-color: #f8f8f8"
          >Delete</button>
        </div>
        <mat-form-field id="table-filter-input">
          <input
            id="filter-field"
            matInput
            placeholder="Filter"
            (keyup)="applyFilter($event.target.value)"
          >
        </mat-form-field>
      </div>
      <mat-paginator
        id="table-paginator"
        [pageSizeOptions]="[10, 25, 50, 100]"
        [pageSize]="50"
        style="background-color: #f8f8f8"
      ></mat-paginator>
    </div>
  </div>
</div>
