<div class="info-wrapper">
  <div *ngIf="customer && customer.approvedUntil; else notApproved">
    <img alt="uploaded picture" src="{{getVerificationFileURL()}}">
    <br/>
  </div>


  <ng-template #notApproved>
    <img *ngIf="customer.ticketVerificationFileName && !fileToUpload" src="{{getVerificationFileURL()}}">

    <img *ngIf="fileToUpload" src="{{imagePreview}}">
    <div *ngIf="!fileToUpload" class="upload-btn-wrapper">
      <button style="margin-top: 30px;" mat-raised-button color="primary">Choose File</button>
      <input type="file" id="file" (change)="handleFileInput($event)">
    </div>
    <button style="margin-top: 30px; margin-bottom: 40px;" *ngIf="fileToUpload" mat-raised-button color="primary"
            (click)="uploadProfileVerification()">
      Upload
    </button>
  </ng-template>


</div>
