<div class="types-div">
  <h1>Ticket types</h1>

  <mat-nav-list>
    <mat-list-item *ngFor="let type of ticketTypes" class="list-item">
      <button mat-raised-button (click)="onTicketTypeClick(type)">
        {{ type.substring(0, 1).toUpperCase() + type.substring(1) }} ticket info
      </button>
    </mat-list-item>
  </mat-nav-list>
</div>
