<div id="admin-page">
  <div id="table-view">
    <mat-card class="mat-elevation-z4" style="width: 100%; height: 100%; padding: 0;">
      <div id="table-scroll-space">
        <table mat-table multiTemplateDataRows id="table" [dataSource]="dataSource">
          <!--  TABLE COLUMS -->

          <!-- customer.getFullName   -->


          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>ID</th>
            <td mat-cell *matCellDef="let element">{{element.id}}</td>
          </ng-container>

          <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Zone</th>
            <td mat-cell *matCellDef="let element">{{element.duration}}</td>
          </ng-container>

          <ng-container matColumnDef="customerName">
            <th mat-header-cell *matHeaderCellDef>Customer</th>
            <td mat-cell *matCellDef="let element">{{element.customer.firstName}}</td>
          </ng-container>

          <ng-container matColumnDef="issuedOn">
            <th mat-header-cell *matHeaderCellDef>Issued On</th>
            <td mat-cell *matCellDef="let element">{{element.issuedOn}}</td>
          </ng-container>

          <ng-container matColumnDef="validFrom">
            <th mat-header-cell *matHeaderCellDef>Issued On</th>
            <td mat-cell *matCellDef="let element">{{element.validFrom}}</td>
          </ng-container>

          <ng-container matColumnDef="validTo">
            <th mat-header-cell *matHeaderCellDef>Issued On</th>
            <td mat-cell *matCellDef="let element">{{element.validTo}}</td>
          </ng-container>

          <!--  EXPANDED DETAILS -->

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length" style="padding: 0;">
              <div class="journey-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                <div class="ticket-info-controls">
                  <div style="flex: 10;">
                    <h1 class="mat-display-1" style="opacity: 0.6; color: #455A64;">
                      <strong>{{ element.customer.firstName + ' ' + element.customer.lastName }}</strong>
                    </h1>
                    <strong>Full name:</strong>
                    <p>{{ element.customer.getFullName() }}</p>
                    <strong>Duration:</strong>
                    <p>{{ element.duration }}</p>
                    <strong>Zone:</strong>
                    <p>{{ element.zone.name }}</p>
                    <strong>Status:</strong>
                    <p>{{ element.customer.status + ', ' + element.customer.age }}</p>

                  </div>

                  <div class="control-buttons-wrapper">
                    <button mat-button mat-raised-button color="warn" class="link-btn" (click)="rejectTicketRequest(element)">
                      <strong>Reject</strong>
                    </button>
                    <button mat-button color="primary" mat-raised-button class="link-btn" (click)="acceptTicketRequest(element)">
                      <strong>Accept</strong>
                    </button>
                  </div>
                </div>
                <mat-card style="padding: 0; display: flex; flex:2 ; flex-direction: column; justify-content: space-between;">
                  <img [src]="getVerificationFileURL(element.customer)" style="max-width:100%; max-height: 100%">
                </mat-card>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let element; columns: displayedColumns;" matTooltip="Click to expand"
            matTooltipPosition="right" matTooltipShowDelay="1000" matTooltipHideDelay="1500" (click)="expandedElement = expandedElement === element ? null : element"></tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
      </div>

      <div id="table-footer">
        <div style="display: flex; flex-direction: row; flex-grow: 1; align-items: center; padding-left: 20px;">
          <mat-form-field id="table-filter-input">
            <input matInput placeholder="Filter" (keyup)="applyFilter($event.target.value)">
          </mat-form-field>
        </div>
      </div>

    </mat-card>
  </div>
</div>
