<header>
  <mat-toolbar id="app-nav">
    <span
      id="logo"
      (click)="navigate('home')"
    >Metrolejbus</span>
    <div id="link-container">
      <button
        mat-button
        class="link-btn"
        (click)="navigate('/home')"
      >
        <strong>Home</strong>
      </button>
      <button
        *ngIf="admin"
        mat-button
        class="link-btn"
        (click)="navigate('/admin')"
      >
        <strong>Admin Panel</strong>
      </button>
      <button
        *ngIf="authenticated && !admin"
        mat-button
        class="link-btn"
        (click)="navigate('/tickets')"
      >
        <strong>Tickets</strong>
      </button>
      <button
        *ngIf="authenticated && !admin"
        mat-button
        class="link-btn"
        (click)="navigate('/profile')"
      >
        <strong>Profile</strong>
      </button>
      <button
        *ngIf="!authenticated"
        mat-button
        class="link-btn"
        (click)="navigate('/auth/login')"
      >
        <strong>Log In</strong>
      </button>
      <button
        *ngIf="!authenticated"
        mat-button
        class="link-btn"
        (click)="navigate('/auth/register')"
      >
        <strong>Register</strong>
      </button>
      <button
        *ngIf="authenticated"
        mat-button
        class="link-btn"
        (click)="logout()"
      >
        <strong>Log Out</strong>
      </button>
    </div>
  </mat-toolbar>
</header>
<section id="content-wrapper">
  <router-outlet id="content"></router-outlet>
</section>
<footer>
  <div id="app-footer">
    <span
      style="float: right; font-size: 12px; padding-right: 15px"
    >Metrolejbus 2019</span>
  </div>
</footer>