.link-btn:hover {
  color: #ff8f00;
}

#logo {
  margin-left: 20px;
  cursor: pointer;
  font: 500 24px/32px Roboto,"Helvetica Neue",sans-serif;
}

#content-wrapper {
  height: calc(100vh - 80px);
  width: 100%;
}

#app-nav {
  color: #EEEEEE;
  background-color: #212121;
  z-index: 1000;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#link-container {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#app-footer {
  height: 16px;
  width: 100%;
  z-index: 1000;
  position: fixed;
  bottom: 0;
  background-color: #212121;
  color: #EEEEEE;
}