<section id="dialog-header">
  <h1 mat-dialog-title>Find on map</h1>
</section>
<section
  mat-dialog-content
  id="main-section"
>
  <div
    id="map"
    leaflet
    [leafletOptions]="leafletOptions"
    [leafletLayers]="leafletLayers"
    (leafletClick)="onMapClick($event)"
  >
    <div id="map-overlay"></div>
  </div>
  <div style="display: flex; justify-content: space-around; margin-top: 5px">
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Latitude"
        readonly
        [formControl]="lat"
      >
    </mat-form-field>
    <mat-form-field class="form-field">
      <input
        matInput
        placeholder="Longitude"
        readonly
        [formControl]="lng"
      >
    </mat-form-field>
  </div>
</section>
<section
  mat-dialog-actions
  id="controls-section"
>
  <div id="controls-wrapper">
    <button
      mat-flat-button
      id="control-btn-dismiss"
      class="control-btn"
      (click)="dismiss()"
    >Dismiss</button>
    <button
      mat-flat-button
      id="contorl-btn-apply"
      class="control-btn"
      [disabled]="!lat.valid && !lng.valid"
      (click)="apply()"
    >Apply</button>
  </div>
</section>