::ng-deep .mat-dialog-container {
  padding: 0;
}

::ng-deep div.leaflet-div-icon {
  background: none;
  border: 0;
}

.control-btn {
  width: 80px;
  margin: 5px;
  background: #f2f2f2;
}

.control-btn:hover {
  background: #eaeaea;
}

#dialog-header {
  color: #EEEEEE;
  background-color: #212121;
  padding: 21px 20px 1px 20px;
}

#main-section {
  height: calc(100% - 136px);
  margin: 0px;
  background-color: white;
  padding: 0px;

  display: flex;
  flex-direction: column;
}

#controls-section {
  padding: 5px 15px;
  background: #f2f2f2;
}

#controls-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#map {
  width: 100%;
  /* height: 100%; */
  position: relative;

  flex-grow: 1;
}

#map-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 401;
  box-shadow: inset 0 0 100px #000000a4;
  pointer-events: none;
}
