<div id="admin-page">
  <aside
    id="form-panel"
    class="mat-elevation-z4"
  >
    <div id="form-wrapper">
      <div id="form">

        <!-- FORM FIELDS GO HERE -->

        <mat-form-field class="form-field">
          <input
            id="name-field"
            matInput
            placeholder="Station name"
            [formControl]="name"
            required
          >
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            id="zone-field"
            matInput
            type="text"
            placeholder="Select zone"
            [formControl]="zone"
            [matAutocomplete]="auto"
            required
          >
          <mat-autocomplete
            #auto="matAutocomplete"
            [displayWith]="getZoneName"
            (optionSelected)="station.zone = $event.option.value"
          >
            <mat-option
              *ngFor="let zone of zones"
              [value]="zone"
            >
              <span>{{ zone.name }}</span>
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="zone.invalid"
            id="zone-error"
          >{{ zone.errors.notfound }}</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field" style="margin-top: 30px">
          <input
            id="lat-field"
            matInput
            placeholder="Latitude"
            [formControl]="lat"
            required
          >
          <mat-hint align="start">Value between -90.0 and 90.0</mat-hint>
          <mat-error
            *ngIf="lat.invalid && lat.errors.min"
            id="lat-error-min"
          >
            Value {{ lat.errors.min.actual }} is not a valid latittude coordiante. Please enter value between -90.0 and 90.0.
          </mat-error>
          <mat-error
            *ngIf="lat.invalid && lat.errors.max"
            id="lat-error-max"
          >
            Value {{ lat.errors.max.actual }} is not a valid latittude coordiante. Please enter value between -90.0 and 90.0.
          </mat-error>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input
            id="lng-field"
            matInput
            placeholder="Longitude"
            [formControl]="lng"
            required
          >
          <mat-hint align="start">Value between -180.0 and 180.0</mat-hint>
          <mat-error
            *ngIf="lng.invalid && lng.errors.min"
            id="lng-error-min"
          >
            Value {{ lng.errors.min.actual }} is not a valid longitude coordiante. Please enter value between -180.0 and 180.0.
          </mat-error>
          <mat-error
            *ngIf="lng.invalid && lng.errors.max"
            id="lng-error-max"
          >
            Value {{ lng.errors.max.actual }} is not a valid longitude coordiante. Please enter value between -180.0 and 180.0.
          </mat-error>
        </mat-form-field>
        <div style="display: flex; justify-content: center; margin-top: 20px;">
          <button
            mat-flat-button
            class="form-control-btn"
            style="width: 150px"
            (click)="openMapDialog()"
          >Find on map</button>
        </div>

        <!--  -->

      </div>
      <section id="form-controls">
        <button
          id="clear-btn"
          mat-flat-button
          class="form-control-btn"
          (click)="clear()"
        >Clear</button>
        <button
          id="save-btn"
          mat-flat-button
          class="form-control-btn"
          [disabled]="!areFieldsValid()"
          (click)="save()"
        >Save</button>
      </section>
    </div>
  </aside>
  <div id="table-view">
    <div id="table-scroll-space">
      <table
        mat-table
        matSort
        id="table"
        [dataSource]="dataSource"
      >
        <ng-container matColumnDef="select">
          <th
            mat-header-cell
            *matHeaderCellDef
            style="width: 70px;"
          >
            <div style="display: flex; align-items: center;">
              <mat-icon
                *ngIf="selection.hasValue()"
                mat-flat-button
                id="table-selection-clear-btn"
                (click)="selection.clear()"
              >clear</mat-icon>
            </div>
          </th>
          <td
            mat-cell
            *matCellDef="let row"
            style="width: 70px;"
          >
            <mat-checkbox
              [checked]="selection.isSelected(row)"
              (click)="$event.stopPropagation()"
              (change)="$event ? selection.toggle(row) : null">
            </mat-checkbox>
          </td>
        </ng-container>

        <!--  TABLE COLUMS -->

        <ng-container matColumnDef="id">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >ID</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{element.id}}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Name</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{element.name}}</td>
        </ng-container>
        <ng-container matColumnDef="zone">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Zone</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{element.zone.name}}</td>
        </ng-container>
        <ng-container matColumnDef="lat">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Latitude</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{element.location.lat}}</td>
        </ng-container>
        <ng-container matColumnDef="lng">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
          >Longitude</th>
          <td
            mat-cell
            *matCellDef="let element"
          >{{element.location.lng}}</td>
        </ng-container>

        <!--  -->

        <tr
          mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></tr>
        <tr
          mat-row
          *matRowDef="let element; columns: displayedColumns;"
          (click)="select(element, $event)"
        ></tr>
      </table>
    </div>
    <div id="table-footer">
      <div style="display: flex; flex-direction: row; flex-grow: 1; align-items: center; padding-left: 20px;">
        <div>
          <button
            id="delete-btn"
            mat-flat-button
            class="form-control-btn"
            [disabled]="!selection.hasValue()"
            (click)="delete()"
            style="background-color: #f8f8f8"
          >Delete</button>
        </div>
        <mat-form-field id="table-filter-input">
          <input
            id="filter-field"
            matInput
            placeholder="Filter"
            (keyup)="applyFilter($event.target.value)"
          >
        </mat-form-field>
      </div>
      <mat-paginator
        id="table-paginator"
        [pageSizeOptions]="[10, 25, 50, 100]"
        [pageSize]="50"
        style="background-color: #f8f8f8"
      ></mat-paginator>
    </div>
  </div>
</div>
