<div class="type-info-div">
  <h1>{{ type }} ticket</h1>
  <div class="explanation-div">
    <h2>How the ticket works</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
      dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
  </div>

<div *ngIf="type === 'Periodic'">
  <mat-form-field>
    <mat-select [(value)]="typeOfPeriodic" (selectionChange)="getTicketPrices($event)" [placeholder]="typeOfPeriodic">
      <mat-option *ngFor="let period of ['Month', 'Year']" [value]="period">
        {{ period }}
      </mat-option>
    </mat-select>
    <mat-hint>Select period to see ticket prices.</mat-hint>
  </mat-form-field>
</div>

  <div id="table-view">
      <div id="table-scroll-space">
        <table
          mat-table
          matSort
          id="table"
          [dataSource]="dataSource"
        >
          <ng-container matColumnDef="customerStatus">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >Customer status</th>
            <td
              mat-cell
              *matCellDef="let element"
            >{{ element.customerStatus }}</td>
          </ng-container>
          <ng-container matColumnDef="zone">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >Zone</th>
            <td
              mat-cell
              *matCellDef="let element"
            >{{ element.zone.name }}</td>
          </ng-container>
          <ng-container matColumnDef="price">
            <th
              mat-header-cell
              *matHeaderCellDef
              mat-sort-header
            >Price</th>
            <td
              mat-cell
              *matCellDef="let element"
            >{{ element.value }}</td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="displayedColumns; sticky: true"
          ></tr>
          <tr
            mat-row
            *matRowDef="let element; let row; columns: displayedColumns;"
          ></tr>
        </table>
      </div>
      <div id="table-footer">
        <div style="display: flex; flex-direction: row; flex-grow: 1; align-items: center; padding-left: 20px;">
          <mat-form-field id="table-filter-input">
            <input
              matInput
              placeholder="Filter"
              (keyup)="applyFilter($event.target.value)"
            >
          </mat-form-field>
        </div>
        <mat-paginator
          id="table-paginator"
          [pageSizeOptions]="[5, 10, 50, 100]"
          style="background-color: #f8f8f8"
        ></mat-paginator>
      </div>
    </div>

  <button mat-raised-button color="primary" (click)="onButtonBuy(type)">Buy ticket</button>

</div>