.type-info-div {
  width: 800px;
  margin: 0 auto;
}

.type-info-div div {
  width: 800px;
  margin: 0 auto;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

span {
  padding-right: 100px;
}
.child-div {
  display: inline-block;
}

