<mat-form-field>
  <mat-label>Select the zone</mat-label>
  <mat-select [(value)]="selectedZone">
    <mat-option *ngFor="let zone of zones" [value]="zone">
      {{ zone.name }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div *ngIf="type !== 'single'">
  <br/>
  <mat-form-field>
    <input
      matInput
      [matDatepicker]="picker"
      placeholder="Choose a date"
      (dateInput)="onDateInput($event)"
      (dateChange)="onDateInput($event)"
      [min]="minDate">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
</div>

<div *ngIf="type === 'periodic'">
  <br/>
  <mat-form-field>
    <mat-label>Choose duration</mat-label>
    <mat-select [(value)]="selectedDuration">
      <mat-option *ngFor="let d of durations" [value]="d">
        {{ d }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>

<!-- Price: {{  }} -->

<br>
<button
  mat-stroked-button
  (click)="openDialog()"
>Buy</button>
<br>
<button
  mat-stroked-button
  (click)="showPurchasedTickets()"
>See purchased tickets</button>

