<h2 mat-dialog-title>Confirm purchase</h2>
<mat-dialog-content class="mat-typography">
  <p>Please confirm purchase</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Buy</button>
</mat-dialog-actions>