tr:hover {
  background-color: #ECEFF1;
}

tr.mat-header-row {
  background-color: #f8f8f8 !important;
}

.form-control-btn {
  width: 60px;
  margin: 5px;

  background-color: white;
  border-radius: 5px;
  border: none;
  outline: none;
}

.form-field {
  width: 100%;
}


#admin-page {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #fafafa;
}

#form-panel {
  height: 100%;
  width: 25%;
  max-width: 300px;
  background-color: #f5f5f5;
  z-index: 101;
  display: flex;
}

#form-wrapper {
  padding: 50px 20px 10px 20px;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

#form-controls {
  margin-top: 60px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#table-view {
  height: 100%;
  width: 75%;
}

#table {
  width: 100%;
}

#table-footer {
  height: 8%;
  width: 100%;
  background-color: #f8f8f8 !important;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#table-scroll-space {
  height: 92%;
  overflow: auto
}

#table-filter-input {
  width: 60%;
  padding-left: 30px;
}

#table-selection-clear-btn {
  width: 16px;
  height: 16px;
  font-size: 16px;
  opacity: 0.8;
}

#table-selection-clear-btn:hover {
  cursor: pointer;
  color: lightgrey;
  opacity: 1;
}


.container-div {
  width: 1000px;
  display: inline-block;
}

.table-div {
  float: left;
  margin-left: 50px;
}
