<div class="container-div">
  <div class="table-div">
    Single use tickets:
    <table mat-table matSort [dataSource]="dataSourceSingle" id="singleTickets">

      <ng-container matColumnDef="select">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 70px;"
        >
          <div style="display: flex; align-items: center;">
            <mat-icon
              *ngIf="selectionSingleUse.hasValue()"
              mat-flat-button
              id="table-selection-clear-btn"
              (click)="selectionSingleUse.clear()"
            >clear</mat-icon>
          </div>
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="width: 70px;"
        >
          <mat-checkbox
            [checked]="selectionSingleUse.isSelected(row)"
            (click)="$event.stopPropagation()"
            (change)="$event ? selectionSingleUse.toggle(row) : null">
          </mat-checkbox>
        </td>
      </ng-container>

      <ng-container matColumnDef="Zone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone</th>
        <td mat-cell *matCellDef="let element"> {{ element.zone.id }} </td>
      </ng-container>
      <ng-container matColumnDef="Issued on">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Issued on</th>
        <td mat-cell *matCellDef="let element"> {{ element.issuedOn }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSingle; sticky: true"></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumnsSingle;"
        (click)="select(element)"
      >
      </tr>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>
    <button
      id="use-ticket-btn"
      mat-stroked-button
      [disabled]="!selectionSingleUse.hasValue()"
      (click)="useTickets('single')"
    >Use selected tickets</button>
  </div>

  <div class="table-div">
    Daily tickets:
    <table mat-table matSort [dataSource]="dataSourceDaily" id="dailyTickets">
      <ng-container matColumnDef="select">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 70px;"
        >
          <div style="display: flex; align-items: center;">
            <mat-icon
              *ngIf="selectionDaily.hasValue()"
              mat-flat-button
              id="table-selection-clear-btn"
              (click)="selectionDaily.clear()"
            >clear</mat-icon>
          </div>
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="width: 70px;"
        >
          <mat-checkbox
            [checked]="selectionDaily.isSelected(row)"
            (click)="$event.stopPropagation()"
            (change)="$event ? selectionDaily.toggle(row) : null">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="Zone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone</th>
        <td mat-cell *matCellDef="let element"> {{ element.zone.id }} </td>
      </ng-container>
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let element"> {{ element.date }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsDaily; sticky: true"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumnsDaily;"></tr>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>
    <button
      mat-stroked-button
      [disabled]="!selectionDaily.hasValue()"
      (click)="useTickets('daily')"
    >Use selected tickets</button>
  </div>

  <div class="table-div">
    Periodic tickets:
    <table mat-table matSort [dataSource]="dataSourcePeriodic" id="periodicTickets">
      <ng-container matColumnDef="select">
        <th
          mat-header-cell
          *matHeaderCellDef
          style="width: 70px;"
        >
          <div style="display: flex; align-items: center;">
            <mat-icon
              *ngIf="selectionPeriodic.hasValue()"
              mat-flat-button
              id="table-selection-clear-btn"
              (click)="selectionPeriodic.clear()"
            >clear</mat-icon>
          </div>
        </th>
        <td
          mat-cell
          *matCellDef="let row"
          style="width: 70px;"
        >
          <mat-checkbox
            [checked]="selectionPeriodic.isSelected(row)"
            (click)="$event.stopPropagation()"
            (change)="$event ? selectionPeriodic.toggle(row) : null">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="Zone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Zone</th>
        <td mat-cell *matCellDef="let element"> {{ element.zone.id }} </td>
      </ng-container>
      <ng-container matColumnDef="Valid from">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid from</th>
        <td mat-cell *matCellDef="let element"> {{ element.validFrom }} </td>
      </ng-container>
      <ng-container>
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Valid from</th>
          <td mat-cell *matCellDef="let element"> {{ element.validFrom }} </td>
        </ng-container>
      <ng-container matColumnDef="Duration">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
        <td mat-cell *matCellDef="let element"> {{ element.duration }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsPeriodic; sticky: true"></tr>

      <tr mat-row *matRowDef="let row; columns: displayedColumnsPeriodic;"></tr>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </table>
    <button
      mat-stroked-button
      [disabled]="!selectionPeriodic.hasValue()"
      (click)="useTickets('periodic')"
    >Use selected tickets</button>
  </div>
</div>