::ng-deep .mat-dialog-container {
  padding: 0;
}

::ng-deep div.leaflet-routing-container {
  display: none;
}

::ng-deep div.leaflet-div-icon {
  background: none;
  border: 0;
}

.control-btn {
  width: 80px;
  margin: 5px;
  background: #f2f2f2;
}

.control-btn:hover {
  background: #eaeaea;
}

.draggable-station-box {
  padding: 10px 10px;
  border: solid 1px #ccc;
  border-bottom: none;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #f6f6f6;
  font-size: 14px;
}

.draggable-station-box:hover {
  background: #fafafa;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.draggable-station-box:last-child {
  border-bottom: solid 1px #ccc;
}

.chosen-station-remove-btn {
  width: 16px;
  height: 16px;
  font-size: 16px;
  opacity: 0.8;
}

.chosen-station-remove-btn:hover {
  cursor: pointer;
  color: lightgrey;
  opacity: 1;
}


#chosen-stations-list {
  overflow-y: auto;
  flex-grow: 1;
}

#chosen-stations-list.cdk-drop-list-dragging .draggable-station-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

#dialog-header {
  color: #EEEEEE;
  background-color: #212121;
  padding: 21px 20px 1px 20px;
}

#main-section {
  height: calc(100% - 136px);
  margin: 0px;
  background-color: white;
  padding: 0px;

  display: flex;
  flex-direction: row;
}

#map-wrapper {
  height: 100%;
  width: 65%;
}

#station-selection-container {
  width: 35%;
  padding: 16px 24px;

  display: flex;
  flex-direction: column;
}

#controls-section {
  padding: 5px 15px;
  background: #f2f2f2;
}

#controls-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#map {
  width: 100%;
  height: 100%;
  position: relative;
}

#map-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 401;
  box-shadow: inset 0 0 100px #000000a4;
  pointer-events: none;
}
