tr:hover {
  background-color: #ECEFF1;
}

tr.mat-header-row {
  background-color: #f8f8f8 !important;
}

input.mat-input-element {
  caret-color: #263238;
}

span.mat-form-field-underline:not(.mat-form-field-invalid) {
  background-color: #263238;
}

.form-control-btn {
  width: 80px;
  margin: 5px;
  background: #f2f2f2;
}

.form-control-btn:hover {
  background: #eaeaea;
}

.form-field {
  width: 100%;
}

#admin-page {
  height: 100%;
  display: flex;
  flex-direction: row;
}

#form-panel {
  height: 100%;
  width: 25%;
  max-width: 300px;
  background-color: #f2f2f2;
  z-index: 101;
  display: flex;
}

#form-wrapper {
  padding: 50px 20px 10px 20px;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
}

#form-controls {
  margin-top: 60px;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#table-view {
  height: 100%;
  flex-grow: 1;
}

#table {
  width: 100%;
}

#table-footer {
  height: 8%;
  width: 100%;
  background-color: #f8f8f8 !important;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#table-scroll-space {
  height: 92%;
  overflow: auto
}

#table-filter-input {
  width: 60%;
  padding-left: 30px;
}

#table-selection-clear-btn {
  width: 16px;
  height: 16px;
  font-size: 16px;
  opacity: 0.8;
}

#table-selection-clear-btn:hover {
  cursor: pointer;
  color: lightgrey;
  opacity: 1;
}
