<section id="dialog-header">
  <h1 mat-dialog-title>Router</h1>
</section>
<section
  mat-dialog-content
  id="main-section"
>
  <section id="station-selection-container">
    <mat-form-field style="width: 100%">
      <input
        matInput
        type="text"
        placeholder="Select station"
        [formControl]="stationControl"
        [matAutocomplete]="auto"
      >
      <mat-autocomplete
        #auto="matAutocomplete"
        [displayWith]="getStationName"
        (optionSelected)="onSelect($event)"
      >
        <mat-option
          *ngFor="let station of filteredStations"
          [value]="station"
        >
          <div style="display: flex; justify-content: space-between">
            <span>{{ station.name }}</span>
            <span style="opacity: 0.5;">{{ station.zone.name }}</span>
          </div>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div
      id="chosen-stations-list"
      cdkDropList
      (cdkDropListDropped)="onDrop($event)"
    >
      <div
        *ngFor="let station of chosenStations; let i = index"
        cdkDrag
        class="draggable-station-box"
        (mouseenter)="showRemoveBtn[i] = true"
        (mouseleave)="showRemoveBtn[i] = false"
      >
        <div style="display: flex; justify-content: space-between; width: 100%;">
          <div>
            <span style="opacity: 0.5;">{{ station.zone.name }} |  </span>
            <span>{{ station.name }}</span>
          </div>
          <mat-icon
            *ngIf="showRemoveBtn[i]"
            mat-flat-button
            class="chosen-station-remove-btn"
            (click)="onRemove(i, station)"
          >clear</mat-icon>
        </div>
      </div>
    </div>
  </section>
  <section id="map-wrapper">
    <div
      id="map"
      leaflet
      [leafletOptions]="leafletOptions"
      [leafletLayers]="leafletLayers"
      (leafletMapReady)="onMapReady($event)"
    >
      <div id="map-overlay"></div>
      <div class="remove-link"></div>
    </div>
  </section>
</section>
<section
  mat-dialog-actions
  id="controls-section"
>
  <div id="controls-wrapper">
    <button
      mat-flat-button
      id="control-btn-dismiss"
      class="control-btn"
      (click)="dismiss()"
    >Dismiss</button>
    <button
      mat-flat-button
      id="contorl-btn-apply"
      class="control-btn"
      (click)="apply()"
    >Apply</button>
  </div>
</section>
