/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  height: 100%;
}

body {
  margin: 0;
  min-width: 100%;
  min-height: 100%;
}

.auth-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.auth-form {
  width: 400px;
}

.auth-form>* {
  width: 100%;
}
